<div class="section home-landing">
  <div class="home-landing-words">
    <h1>Full Stack Developer</h1>
    <h1>Content Creator</h1>
    <h1>Freelancer</h1>
  </div>
</div>
<div class="section section-white">
  <h2>Projects</h2>
  <div class="card-projects">
    <% @projects.each do |project| %>
      <div class="card-project">
        <div class="card-project-description">
          <h4><%= project.name %></h4>
          <p><%= project.sentence %></p>
        </div>
        <!-- image goes here -->
        <!-- overlying link goes here -->
      </div>
    <% end %>
  </div>
</div>
<div class="section section-blue">
  <h2>Writing</h2>
  <div class="card-writings">
    <div class="card-writing">
      <img src="" alt="">
      <div>
        <h4></h4>
        <p></p>
        <%= link_to "", "#" %>
      </div>
    </div>
    <div class="card-writing">
      <img src="" alt="">
      <div>
        <h4></h4>
        <p></p>
        <%= link_to "", "#" %>
      </div>
    </div>
    <div class="card-writing">
      <img src="" alt="">
      <div>
        <h4></h4>
        <p></p>
        <%= link_to "", "#" %>
      </div>
    </div>
  </div>
</div>
<div class="section section-white">
  <h2>About</h2>
  <div class="d-flex">
   <img src="" alt="">
   <p></p>
  </div>
  <div class="section-sub">
    <h3>Favorite Tools</h3>
    <ul class="home-tools">
      <li><%= image_tag "Adobe-After-Effects.png", alt: "AE logo" %></li>
      <li><%= image_tag "Adobe-Illustrator.png", alt: "AI logo" %></li>
      <li><%= image_tag "Adobe-Photoshop.png", alt: "PS logo" %></li>
      <li><%= image_tag "bootstrap.png", alt: "Bootstrap logo" %></li>
      <li><%= image_tag "git.png", alt: "Git logo" %></li>
      <li><%= image_tag "gitHub.png", alt: "GitHub logo" %></li>
      <li><%= image_tag "heroku.png", alt: "Jeroku logo" %></li>
      <li><%= image_tag "jquery.png", alt: "jQuery logo" %></li>
      <li><%= image_tag "nokogiri.png", alt: "Nokogiri logo" %></li>
      <li><%= image_tag "rails-logo.svg", alt: "Rails logo" %></li>
      <li><%= image_tag "redux.png", alt: "Redux logo" %></li>
      <li><%= image_tag "shield-CSS.png", alt: "CSS logo" %></li>
      <li><%= image_tag "shield-HTML.png", alt: "HTML logo" %></li>
      <li><%= image_tag "shield-JS.png", alt: "JS logo" %></li>
      <li><%= image_tag "sidekiq.png", alt: "Sidekiq logo" %></li>
      <li><%= image_tag "SQLite.png", alt: "SQLite logo" %></li>
      <li><%= image_tag "postgresql.png", alt: "PostgreSQL logo" %></li>
    </ul>
  </div>
  <div class="section-sub">
    <h3>Interests</h3>
    <ul class="home-interests">
      <li>
        <%= image_tag "icon-restaurant.png", alt: "Food Icon" %>
        <h5>Food</h5>
      </li>
      <li>
        <%= image_tag "icon-disco-ball.png", alt: "Dance Icon" %>
        <h5>Dance</h5>
      </li>
      <li>
        <%= image_tag "icon-poker.png", alt: "Game Icon" %>
        <h5>Games</h5>
      </li>
      <li>
        <%= image_tag "icon-backpack.png", alt: "Travel Icon" %>
        <h5>Travel</h5>
      </li>
    </ul>
  </div>
</div>
<div class="section section-white">
  <h2>Contact</h2>
  <p>Feel free to connect with me using the form below or any of the links provided.</p>
  <!-- Form here -->
  <ul class="social-media-icons">
    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
    <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
    <li><i class="fa fa-github" aria-hidden="true"></i></li>
  </ul>
</div>
<div>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
