<div class="section home-landing">
  <div class="home-landing-words">
    <h1>Full Stack Developer</h1>
    <h1>Content Creator</h1>
    <h1>Freelancer</h1>
  </div>
</div>


<div class="section section-white" id="projects">
  <h2>Projects</h2>
  <p class="text-center">Click a project to find out more.</p>

  <div class="card-projects">
    <% @projects.each do |project| %>

      <div class="card-project img-hidden">
          <% if project == @projects[0] || project == @projects[2] || project == @projects[3] %>
            <div class="card-project-details column">
              <% else %>
        <div class="card-project-details">
          <% end %>


            <!-- Image and information for the card-->
            <%= image_tag "project-" + project.img + ".png", alt: "image of project" %>
            <div class="card-project-description">
              <h4><%= project.name %></h4>
              <p><%= project.sentence %></p>
            </div>

            <!-- Overlayed link to projects show page -->
            <%= link_to project_path(project) do %>
              <div class="hid-link"></div>
            <% end %>

        </div>
          <%# if project == @projects[1] || project == @projects[2] || project == @projects[3] %>
            <!-- </div> -->
          <%# end %>
      </div>
    <% end %>
  </div>

</div>


<div class="section section-blue" id="writing">
  <h2>Writing</h2>
  <div>

    <div class="card-writing">
      <div class="position-relative">
        <i class="fab fa-medium" aria-hidden="true"></i>
        <%= image_tag "Sustainable-Fashion.jpg", alt: "picture of Startup Grind gathering" %>
      </div>
      <div>
        <h4>Sustainable Fashion Starts Small</h4>
        <p>Description of a Startup Grind event on the fashion industry in Oslo. Both companies have unique and interesting methods of behaving sustainably.</p>
        <%= link_to "Read the article", "https://medium.com/startup-grind-oslo/sustainable-fashion-starts-small-6fc26f1b0fbd", class: "btn-box" %>
      </div>
    </div>

    <div class="card-writing">
      <div class="position-relative">
        <i class="fab fa-youtube-square" aria-hidden="true"></i>
        <%= image_tag "fringe-presentation.jpg", alt: "picture of Jessica presenting My Fringe Planner" %>
      </div>
      <div>
        <h4>MyFringePlanner Presentation</h4>
        <p>At the end of Le Wagon, I presented MyFringePlanner with the help of Dee to a large audience and demonstrated the key user journeys for our application.</p>
        <%= link_to "Watch the video", "https://www.youtube.com/watch?v=L9Pvj2iJ6po&list=LLCKHwQkBDzhHRKgcGbfL54Q&index=2&t=39m50s", class: "btn-box" %>
      </div>
    </div>

    <div class="card-writing">
      <div class="position-relative">
        <i class="fab fa-medium" aria-hidden="true"></i>
        <%= image_tag "ml-article.png", alt: "picture of alpacas sharing ideas" %>
      </div>
      <div>
        <h4>Millenials Improve Workplace Communication</h4>
        <p>While working for ManageLabs I learned a lot about workplace communication and how different team members can contribute or detract from clear communication. </p>
        <%= link_to "Read the article", "https://www.managelabs.com/library/how-millennials-have-improved-workplace-communication", class: "btn-box" %>
      </div>
    </div>

  </div>
</div>


<div class="section section-white" id="about">
  <h2>About</h2>
  <div class="home-about">
   <%= image_tag "jess-profile.jpg", alt: "profile picture of jessica", class: "home-profile" %>
   <div class="p-3">
     <p>I am an avid word nerd who is researching and writing her way deeper into the worlds of web development and business communication. My previous work history includes a lot of leadership and mentorship roles both in offices and out on campgrounds.</p>
     <p>On the weekends you are most likely to find me exploring the outdoors, playing board games, or swing dancing my way to happiness.</p>
    </div>
  </div>

  <div class="section-sub">
    <h3 class="mt-5">Favorite Tools</h3>
    <ul class="home-tools">
      <li><%= image_tag "Adobe-After-Effects.png", alt: "AE logo" %></li>
      <li><%= image_tag "Adobe-Illustrator.png", alt: "AI logo" %></li>
      <li><%= image_tag "Adobe-Photoshop.png", alt: "PS logo" %></li>
      <li><%= image_tag "bootstrap.png", alt: "Bootstrap logo" %></li>
      <li><%= image_tag "git.png", alt: "Git logo" %></li>
      <li><%= image_tag "gitHub.png", alt: "GitHub logo" %></li>
      <li><%= image_tag "heroku.png", alt: "Jeroku logo" %></li>
      <li><%= image_tag "jquery.png", alt: "jQuery logo" %></li>
      <li><%= image_tag "nokogiri.png", alt: "Nokogiri logo" %></li>
      <li><%= image_tag "rails-logo.svg", alt: "Rails logo" %></li>
      <li><%= image_tag "redux.png", alt: "Redux logo" %></li>
      <li><%= image_tag "shield-CSS.png", alt: "CSS logo" %></li>
      <li><%= image_tag "shield-HTML.png", alt: "HTML logo" %></li>
      <li><%= image_tag "shield-JS.png", alt: "JS logo" %></li>
      <li><%= image_tag "sidekiq.png", alt: "Sidekiq logo" %></li>
      <li><%= image_tag "SQLite.png", alt: "SQLite logo" %></li>
      <li><%= image_tag "postgresql.png", alt: "PostgreSQL logo" %></li>
    </ul>
  </div>

  <div class="section-sub">
    <h3>Interests</h3>
    <ul class="home-interests">
      <li>
        <%= image_tag "icon-restaurant.png", alt: "Food Icon" %>
        <h5>Food</h5>
      </li>
      <li>
        <%= image_tag "icon-disco-ball.png", alt: "Dance Icon" %>
        <h5>Dance</h5>
      </li>
      <li>
        <%= image_tag "icon-camera.png", alt: "Camera Icon" %>
        <h5>Photography</h5>
      </li>
      <li>
        <%= image_tag "icon-poker.png", alt: "Game Icon" %>
        <h5>Games</h5>
      </li>
      <li>
        <%= image_tag "icon-backpack.png", alt: "Travel Icon" %>
        <h5>Travel</h5>
      </li>
    </ul>
  </div>
</div>


<div class="section section-blue" id="section-350">
  <div>
    <h2>Contact</h2>
    <div class="text-center">
      <p>Feel free to connect with me using any of the links provided.</p>
      <%= link_to "Contact Form", new_contact_path, class: "btn-box" %>
    </div>
  </div>
  <ul class="social-media-icons"><%= render "shared/social_media_icons" %></ul>
</div>


<div class="home-footer section-blue">
  <p>Website designed and coded with ❤️ by Jessica DeWitt</p>
  <p>Pink gradient icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> oFn <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a></p>
</div>
