<div class="section section-blue">
  <h2>Contact</h2>
  <p class="text-center">Feel free to connect with me using the form below or any of the links provided.</p>
  <div class="form-contact">
    <%= simple_form_for @contact do |f| %>
      <% if flash[:error].present? %>
        <p><%= flash[:error] %></p>
      <% end %>

      <%= f.input  :name, required: true, class: "form-input" %></br>

      <%= f.input :email, required: true, class: "form-input" %></br>

      <%= f.input :message, as: :text, required: true, class: "form-input"%></br>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.input :nickname, hint: 'leave this field blank' %>
      </div>

      <%= f.button :submit, 'Send Message', class: "btn-box" %>
    <% end %>
  </div>
<%= render "shared/footer" %>
</div>

