<div class="section section-blue">
  <h2>Contact</h2>
  <p class="text-center">Feel free to connect with me using the form below or any of the links provided.</p>
  <div class="form-contact">
    <%= simple_form_for @contact do |f| %>
      <% if flash[:error].present? %>
        <p><%= flash[:error] %></p>
      <% end %>

      <%= f.label :name %></br>
      <%= f.text_field  :name, required: true, class: "form-input" %></br>

      <%= f.label :email %></br>
      <%= f.text_field :email, required: true, class: "form-input" %></br>

      <%= f.label :message %></br>
      <%= f.text_area :message, as: :text, rows: 8, cols: 40, required: true, class: "form-input"%></br>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <%= f.button :submit, 'Send Message', class: "btn-box" %>
    <% end %>
  </div>
  <ul class="social-media-icons">
    <li><i class="fab fa-facebook" aria-hidden="true"></i></li>
    <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
    <li><i class="fab fa-linkedin" aria-hidden="true"></i></li>
    <li><i class="fab fa-github" aria-hidden="true"></i></li>
  </ul>
</div>
