<div class="section section-white">

  <div class="project-display mx-auto">
    <%= render "shared/carousel" %>
    <div class="project-links">
      <%= link_to "GH SOURCE CODE", @project.codelink, class: "btn-box" %>
      <%= link_to "DEPLOYED PAGE", @project.sitelink, class: "btn-box"  %>
    </div>
  </div>

  <div class="project-info mx-auto">
    <h3><%= @project.name %></h3>
    <div>
      <h5>The Idea</h5>
      <p><%= @project.idea %></p>
      <br>
      <h5>The Tools</h5>
      <p><%= @project.tools %></p>
    </div>
  </div>

</div>

<%= render "shared/footer" %>
